
.front {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


.dashboard {
    display: flex;
    justify-content: left;
    align-items: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: white;
    padding: 10px;
    
}

input {
    width: 100%;
    padding: 0.5rem; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}


button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #1d855e;
    color: white; 
    cursor: pointer; 
}


input:focus {   
    border: 2px solid #1d855e;
    outline: none;
}


input:hover {
    border: 2px solid #1d855e;
    background-color: #f0f0f0; 
}

/* Style the placeholder text */
input::placeholder,
textarea::placeholder {
    color: #999;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(159, 82, 82, 0.8);
    z-index: 9999;
  }
  
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
